.pklwpz-status-active {
    color: #2e7d32;
    font-weight: bold;
}

.pklwpz-status-revoked {
    color: #c62828;
    font-weight: bold;
}

#pklwpz-api-key-display {
    background: #f8f9fa;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    word-break: break-all;
    display: block;
    max-width: 500px;
}

.notice.inline {
    padding: 12px;
    margin: 5px 0 15px 0;
    background: #fff;
    border-left: 4px solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
}

.notice.notice-error.inline {
    border-left-color: #dc3232;
}

.notice.notice-warning.inline {
    border-left-color: #ffba00;
}